.panel-wrap-xf {
  position: absolute;
  background-color: #fff;
  border: 1px solid #d2d2d2;
  z-index: 10;
}

.panel-title-wrap-xf {
  position: absolute;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #d2d2d2;
  overflow: hidden;
}

.panel-title-xf {
  width: 40%;
  height: 100%;
  position: absolute;
  left: -17px;
  background: linear-gradient(to bottom,#4cb7f4,#2a84db);
  transform: skew(40deg);
}

.panel-title-xf > p {
  width: 100%;
  transform: skew(-40deg);
  line-height: 40px;
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
}

.panel-title-xf-line {
  width: 39.5%;
  height: 3px;
  background-color: #1159ac;
  position: absolute;
  bottom: 0px;
}
